# command line
click~=8.1

# cassandra - remove keyspace, table
cassandra-driver==3.29.2

# CSV processing
polars==1.15

# generate graphs
qgate-graph==1.4.30

# env file
python-dotenv~=1.0

# text as the table
prettytable==3.11.0

# color in terminal
colorama==0.4.6
